header p {
    color: #6aa8d4;
}

header {
    text-align: center;
}

body {
    margin: 50px auto;
    width: 500px;
}

h1 {
    font-size: 2.5em;
}

#content {
    border: 1px solid darkgrey;
    margin: 40px auto;
    padding: 50px;
}

#mission-statement {
    line-height: 1.5em;
    margin: 0 auto;
    width: 55%;
}

img {
    width: 20%;
    display: block;
    margin: 0 auto;
}